$large-width: 1000px;

@mixin desktop {
  @media (min-width: $large-width) {
    //  takes a content block using curly braces:
    @content;
  }
}
@mixin mobile {
  @media (max-width: $large-width) {
    //  takes a content block using curly braces:
    @content;
  }
}
.mobile-only {
  @include desktop {
    display: none !important;
  }
}
.desktop-only {
  @include mobile {
    display: none !important;
  }
}
