@import "colors";

.draggable {
  border-bottom: 1px solid $VeryLightGrayishBlue;
  width: 100%;
  max-width: 450px;
  cursor: move;
  word-wrap: break-word;
  .todoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    max-width: 450px;

    .todotext {
      margin-left: 20px;
      margin-right: auto; // or flex: 1;
      overflow-wrap: break-word;
      overflow: hidden;
      height: fit-content;
    }
    .checkBox {
      background: $CheckBackground;
      padding: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      cursor: pointer;
    }
    .undone-circle {
      padding: 4px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid hsl(234, 11%, 52%);
      cursor: pointer;
      flex-shrink: 0;
    }
    .line-through {
      text-decoration: line-through;
      color: lightgray;
    }

    .deleteCross {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &.dragging {
    background-color: $VeryLightGrayishBlue;
  }
}
.draggable:last-child {
  border-bottom: none;
}

.drag-target {
  background-color: $VeryLightGrayishBlue;
}

.draggable.dark {
  border-bottom: 1px solid $DarkGrayishBlue;
  color: $LightGrayishBlue;
  .todoWrapper {
    .line-through {
      color: $DarkGrayishBlue;
    }
  }

  &.dragging {
    background-color: $VeryDarkBlue;
  }
}
.drag-target.dark {
  background-color: $VeryDarkBlue;
}
